<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Centro pela Saude Global</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PdsActivator</activator>

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${debeziumVersion}">org.openmrs.module.debezium</require_module>
    </require_modules>
    
    <!-- Global properties -->
    <!-- Global properties -->
</module>

